@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Mono&family=Space+Grotesk:wght@300..700&display=swap');

//  font-family: "PT Mono", monospace;
// font-family: "Space Grotesk", sans-serif;
// font-family: "Manrope", sans-serif;

// @font-face {
//     font-family: "compact";
//     src: url("../fonts/SFCompactDisplay-Regular.otf") format("opentype");
//     font-weight: 400;
// }