footer.footer {
    background: $main-blue;
    padding: 32px 0 40px;

    p {
        text-align: center;
        margin: 0;
        color: #fff;
        font-size: 15px;
    }

    a {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
    }

    .footer__item {
        padding-bottom: 20px;
    }
}

.footer__logo img {
    max-width: 200px;
    vertical-align: top;
}


@media(max-width:1599.8px) {

    .footer__logo img {
        max-width: 180px;
    }
}

@media(max-width:1199.8px) {

    .footer__logo img {
        max-width: 150px;
    }

    footer.footer .footer__item {
        padding-bottom: 10px;
    }
}

@media(max-width:991.8px) {

    .footer__logo img {
        max-width: 100px;
    }

    footer.footer .footer__item {
        padding-bottom: 0;
    }
}

@media(max-width:575.8px) {
    footer.footer {
        text-align: center;
        padding: 30px 0 15px;
    }

    .footer__logo {
        margin-bottom: 20px;
        display: inline-block;
    }

    .footer__item {
        margin-bottom: 10px;
    }
}