$main-blue: #0057CA;
$light-blue: #4DA8E4;

body,
html {
    height: 100%;
}

body * {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    line-height: 150%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1504px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

.fill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    font-family: "PT Mono", monospace;
    color: #fff;
    font-weight: 400;
    font-size: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.text-end {
    text-align: right;
}

.blue-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    background: $main-blue;
    padding: 4px 26px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;

    span {
        position: relative;
        z-index: 2;
    }

    &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background: $light-blue;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s;
    }

    &:hover {
        &::after {
            height: 100%;
        }
    }
}