header.header {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 12;


    .container {
        position: relative;
    }

    .menu {
        background: transparent;
        padding: 0;
        border: none;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img, svg {
            width: 72px;
            height: 72px;
            position: absolute;
        }
    }
}

.logo {
    transition: 0.5s;

    img {
        max-width: 120px;
        width: 120px
    }
}

.header.scroll {
    .logo {
        transform: translateY(-200px);
    }
}

.menu {
    z-index: 9;
}

.circlebg {
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    height: 72px;
    top: 40px;
    right: 12px;

    &::after {
        content: '';
        display: inline-block;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s;
        background: #D3E2FF;
        opacity: 0;
    }
}

.header__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: 1s;
    backdrop-filter: blur(10px);

    .container {
        position: relative;
    }

    .menuwrapper {
        padding-left: 30vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    ul.header__nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 2;

        li {
            margin-bottom: 18px;
            opacity: 0;
            transform: translateX(30px);
            transition: 0.5s ease;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 40px;
                font-family: "PT Mono", monospace;
                letter-spacing: 1.8px;
                color: #101018;
                text-decoration: none;
                transition: 0.5s;
                display: block;

                &:hover {
                    transform: translateX(10px);
                    color: $main-blue;
                }
            }
        }
    }
}

header.header.open {
    .circlebg {
        &::after {
            opacity: 1;
            width: 150vw;
            height: 150vw;
        }
    }

    .header__menu {
        opacity: 1;
        z-index: 1;
        visibility: visible;

        ul.header__nav li {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.header.open .menuwrapper ul.header__nav li:nth-child(1) {
    transition-delay: 0.5s;
}

.header.open .menuwrapper ul.header__nav li:nth-child(2) {
    transition-delay: 0.7s;
}

.header.open .menuwrapper ul.header__nav li:nth-child(3) {
    transition-delay: 0.9s;
}

.header.open .menuwrapper ul.header__nav li:nth-child(4) {
    transition-delay: 1.1s;
}

.header.open .menuwrapper ul.header__nav li:nth-child(5) {
    transition-delay: 1.3s;
}

.header.open .menuwrapper ul.header__nav li:nth-child(6) {
    transition-delay: 1.5s;
}

.header__soc {
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 60px;
    bottom: 53px;

    li {
        margin-bottom: 12px;
        opacity: 0;
        transform: translateX(30px);
        transition: 0.5s ease;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.header.open {
    .header__soc li {
        opacity: 1;
        transform: translateY(0);

        &:nth-child(1) {
            transition-delay: 0.5s;
        }

        &:nth-child(2) {
            transition-delay: 0.8s;
        }
    }

}








@media(max-width:1599.8px) {

    header.header {
        top: 20px;
    }

    header.header.open .circlebg:after {
        width: 160vw;
        height: 160vw;
        top: 20vh;
    }

    .header__menu ul.header__nav li a {
        font-size: 32px;
    }
}

@media(max-width:1199.8px) {
    header.header.open .circlebg:after {
        width: 170vw;
        height: 170vw;
    }
}

@media(max-width:991.8px) {
    header.header.open .circlebg:after {
        width: 220vw;
        height: 220vw;
    }

    .header__menu .menuwrapper {
        padding-left: 15vh;
    }

    .header__menu .menuwrapper {
        display: block;
        padding-top: 150px;
    }

    .header__menu {
        min-height: 500px;
    }

}

@media(max-width:767.8px) {
    .circlebg {
        top: 20px;
    }

    header.header .circlebg_wrapper {
        display: none;
    }

    .header__menu {
        background: #D3E2FF;
    }

    .header__menu .menuwrapper {
        padding-left: 50px;
    }

    .header__menu ul.header__nav li a {
        font-size: 24px;
    }

    .header__soc {
        right: 20px;
        bottom: 20px;
    }

    .header__menu {
        overflow: auto;
        min-height: initial;

        &>.container {}
    }

    .menuwrapper {
        min-height: 500px;
    }

    .circlebg_wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
    }

}

@media(max-width:575.8px) {

    header.header {
        top: 10px;
    }

    header.header .menu {
        height: 60px;
        width: 60px;
    }

    .header__menu .menuwrapper {
        padding-left: 20px;
    }

    .header__menu ul.header__nav li a {
        font-size: 21px;
    }

    header.header.open .header__menu ul.header__nav li {
        margin-bottom: 10px;
    }

    .header.open .header__soc li {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .header__menu .menuwrapper {
        overflow: hidden;
    }
}














@media (max-height: 600px) {
    .header__menu .menuwrapper {
        padding-top: 60px;
        align-items: flex-start;
    }

    .header__menu ul.header__nav {
        overflow: auto;
        height: 100%;
    }
}