.hero {
    height: 100vh;
    min-height: 560px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 112px 0 125px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.3);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h1 {
        text-align: center;
        margin: 0;
    }
}

.hero__bottomsect {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 60px;
    width: 100%;

    p {
        margin: 0;
        color: #fff;
        font-size: 24px;
        line-height: 130%;
    }
}

.section-title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 72px;
    letter-spacing: 1.8px;

    &.white {
        color: #fff;

    }
}

.about {
    padding: 180px 0;

    .imgwrap {
        text-align: right;

        img {
            max-width: 100%;
        }
    }

    p {
        color: #000;
        font-size: 36px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.advantages {
    position: relative;
    overflow: hidden;
    padding: 330px 0 120px;

    .container {
        position: relative;
        z-index: 2;
    }
}

.advantages-item {
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 37px 40px;

    img {
        position: absolute;
        width: 24px;
        top: 40px;
        left: 40px;
    }

    h6 {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 18px;
    }

    p {
        margin: 0;
        color: #000;
        font-size: 14px;
        line-height: 130%;
        min-height: 90px;
    }

    &:hover {
        .advantages__icon {
            transform: rotate(180deg);
        }
    }
}

.advantages__icon {
    transition: 0.5s;
}

.mission {
    padding: 246px 0 274px;
    background: #F5FBFF;

    p {
        color: #000;
        font-size: 36px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.solutions {
    padding: 90px 0;
    background: $main-blue;

    .section-title {
        margin-bottom: 36px;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .title {
        color: #fff;
        font-size: 48px;
        font-family: "Manrope", sans-serif;
        position: sticky;
        top: 20px;
    }
}

.solutions__item {
    background: rgba(#4DA8E4, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 24px;

    &:last-child {
        margin-bottom: 0;
    }

    h6 {
        font-size: 24px;
        font-weight: 400;
        font-family: "Manrope", sans-serif;
        margin-bottom: 16px;
        color: #fff;
    }

    p {
        margin: 0;
        color: #fff;
        font-family: "Manrope", sans-serif;
    }
}

.projects {
    padding: 100px 0 90px;
}